<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12" id="contenedorNavMobile">
      <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
        <img src="img/Cenfotec-Software-House-Logo.png" alt="Cenfotec Software House logo" width="30px"height="30px">
      </div>

      <div class="col-md-10 col-lg-10 col-xs-10 col-sm-10 pull-right">
        <a href="" class="pull-right"><ng-md-icon icon="reorder" style="fill: #fff" size="24px" ng-click="carrerasCtrl.toggleLeft()" class="md-raised"></ng-md-icon></a>
        <a href="" class="pull-right"><ng-md-icon ng-click="redirectPerfil($event)" icon="account_circle" style="fill: #f8c400" size="24px" class="md-raised"></ng-md-icon></a>
        <a href="" class="pull-right"><ng-md-icon icon="notifications" style="fill: #f8c400" size="24px" class="md-raised"></ng-md-icon></a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12" id="contenedorPrincipal">
      <div layout="column" class="sideNavStyle" ng-cloak>

        <section layout="row" flex>

          <md-sidenav class="md-sidenav-left aside" md-component-id="left"
                      md-disable-backdrop md-whiteframe="4">

          <md-content layout-margin class="aside">
            <md-button ng-click="carrerasCtrl.toggleLeft()" class="pull-right">
              <ng-md-icon icon="keyboard_backspace" style="fill: #212121" size="38px"></ng-md-icon>
            </md-button>
            </md-content>
            <md-content layout-margin class="aside">
              <a ui-sref="proyectos">Proyectos</a>
            </md-content>
            <md-content layout-margin class="aside">
              <a ui-sref="solicitudesPortulantes">Solicitudes</a>
            </md-content>
            <md-content layout-margin class="aside">
              <a ui-sref="agregarUsuarios">Usuarios</a>
            </md-content>
            <md-content layout-margin class="aside">
              <a ui-sref="carreras">Carreras</a>
            </md-content>
            <md-content layout-margin class="aside">
              <a ui-sref="industrias">Industrias</a>
            </md-content>
            <md-content layout-margin class="aside">
              <a ui-sref="reportes">Reportes</a>
            </md-content>
            <md-button ng-click="carrerasCtrl.cerrarSesion()">
              <ng-md-icon icon="power_settings_new" style="fill: #212121" size="38px"></ng-md-icon>
            </md-button>
          </md-sidenav>
        </section>
      </div>
    </div>
  </div>

  <div ng-controller="carreraControlador">
    <md-content>
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab id="tab1">
          <md-tab-label>Carreras</md-tab-label>
            <md-tab-body>
            <div class="container" id="contenidoCarrera">
                <div class="barra-inicial">
                  <h2>Carreras</h2>
                </div>
                <div class="row encabezadosCarreras">
                  <div class="col-md-3">
                    <h5>Código</h5>
                  </div>
                  <div class="col-md-3">
                    <h5>Carrera</h5>
                  </div>
                  <div class="col-md-3">
                    <h5>Nivel académico</h5>
                  </div>
                  <div class="col-md-1 col-xs-6">
                    <h5>Eliminar</h5>
                  </div>
                </div>
              <div class="pre-scrollable" id="carreras">
                <div id="divisor" ng-repeat='carrera in carrerasCtrl.listaCarreras track by $index'>
                  <div class="row">
                    <div class="col-md-3 col-xs-6">
                      <output name="nombreCa" class="nombreCa">{{carrera.codigo}}</output>
                    </div>
                    <div class="col-md-3 col-xs-6">
                      <output name="nombreE" class="nombreE">{{carrera.nombre}}</output>
                    </div>
                    <div class="col-md-3 col-xs-6">
                      <output name="nombreP" class="nombreP">{{carrera.nivelAcademico}}</output>
                    </div>
                      <div class="col-md-1 col-xs-6" id="eliminarCar">
                        <ng-md-icon icon="delete" ng-click='carrerasCtrl.delete(carrera.nombre)' style="fill: #FFC107;" size="33px"></ng-md-icon>
                      </div>
                  </div>
                <hr>
                </div>
              </div>
            </div>
        </md-tab-body>
        </md-tab>
        <md-tab>
          <md-tab-label>Agregar carrera</md-tab-label>
            <md-tab-body>
            <div class="container" id="contenidoCarrera">
              <div class="barra-inicial">
                <h2>Nueva carrera</h2>
              </div>
              <form id="formCarrera" name="formCarrera">
               <md-input-container class="md-block" flex-gt-sm>
              <label>Carrera</label>
              <input required name="carrera" ng-model="carrerasCtrl.nombre">
              <div ng-messages="formCarrera.carrera.$error">
                <div ng-message="required">Nombre requerido.</div>
              </div>
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm>
                <label>Código</label>
                <input required name="codigo" ng-model="carrerasCtrl.codigo">
              <div ng-messages="formCarrera.codigo.$error">
                <div ng-message="required">Codigo requerido.</div>
              </div>
            </md-input-container>
            <md-input-container>
                 <label>Nivel académico</label>
                 <md-select name="academico" ng-model="carrerasCtrl.nivelAcademico" required>
                   <md-option value="Técnico">Técnico</md-option>
                   <md-option value="Diplomado">Diplomado</md-option>
                   <md-option value="Bachillerato">Bachillerato</md-option>
                   <md-option value="Maestría">Maestría</md-option>
                    </md-select>
                 <div class="errors" ng-messages="formCarrera.academico.$error">
                   <div ng-message="required">Requerido</div>
                 </div>
              </md-input-container>
              <div layout ="row" class="pull-right">
              <md-button id="guardarCarrera"  ng-click="carrerasCtrl.save()">
                Guardar
              </md-button>
            </div>
            </form>

        </div>
          </md-tab-body>
        </md-tab>
      </md-tabs>
    </md-content>
  </div>
</div>
